@tailwind base;
@layer base {
  body {
    @apply text-body leading-snug overflow-hidden;
  }
  img {
    @apply max-w-none;
  }
}
@tailwind components;

@layer components {
  .btn {
    @apply rounded-xl text-center font-medium text-button text-white;
  }

  .btn-bg {
    @apply btn bg-primary shadow-button py-3.5 px-14;
  }
  .full-screen {
    @apply w-screen h-screen bg-cover;
  }
  .card {
    @apply full-screen flex justify-center items-center;
  }
  .card_body {
    @apply w-3/4 bg-card backdrop-blur-md rounded-3xl py-5 shadow-card-body ;
  }
  .card_title {
    @apply text-h4 text-primary-active text-center;
  }

  .food,
  .scrum-drag,
  .scrum-drag.active {
    @apply w-full h-full flex items-center justify-center relative rounded-lg py-1.5 leading-5 text-white cursor-move;
  }

  .food::before,
  .scrum-drag::before {
    content: "";
    @apply w-3 h-3 absolute top-1 left-1 z-10 bg-cover;
  }
  .food::before,.scrum-drag.active::before {
    background-image: url('@/assets/Vector.svg');
  }
  .scrum-drag::before {
    background-image: url('@/assets/Vector-dark.svg');
  }

  .food::after {
    content: '';
    @apply absolute -right-10 z-10 w-8 h-8 bg-contain bg-no-repeat;
  }

  .food.foodAfterEmpty::after {
    @apply bg-none;
  }
  .food.foodBeforeEmpty::before {
    @apply bg-none;
  }

  .drag-border {
    @apply h-12 border border-dashed border-primary-disabled my-0.5 rounded-lg ;
  }

  .priority {
    @apply bg-no-repeat w-full text-center text-burger-meat font-bold;
  }
}
@tailwind utilities;

@layer utilities {
  .disabled {
    @apply cursor-none pointer-events-none bg-primary-disabled shadow-none;
  }
}
